
$o-navbar-height: 60px !default;
$o-navbar-padding-v: 10px !default;

$o-navbar-entry-color: $m3-onsurface !default;
$o-navbar-background: $m3-surface-container-lowest !default;

$o-navbar-entry-border-radius: 11px !default;

$o-navbar-entry-color--hover: $m3-onsurface-var !default;
$o-navbar-entry-bg--hover: $m3-surface-container-low !default;
$o-navbar-entry-bg--active: $m3-surface-container !default;
$o-navbar-entry-color--active: $m3-onsurface !default;

$o-navbar-badge-color: $m3-onprimary !default;