// $ie-sidebar-max-width: 258px !default;
// $ie-sidebar-width-collapsed: 64px !default;

$ie-sidebar-max-width: 260px !default;
$ie-sidebar-width-collapsed: 72px !default;
$ie-transition-speed: 0.4s;
$ie-transition-curve: cubic-bezier(0.1, 0.5, 0, 1);