.light {
  --md-sys-color-primary: ;
  --md-sys-color-tertiary: ;

  --md-sys-color-surface-tint: rgb(71 93 145);
  --md-sys-color-on-primary: ;
  --md-sys-color-primary-container: ;
  --md-sys-color-on-primary-container: ;

  --md-sys-color-secondary: ;
  --md-sys-color-on-secondary: ;
  --md-sys-color-secondary-container: ;
  --md-sys-color-on-secondary-container: ;

  --md-sys-color-on-tertiary: ;
  --md-sys-color-tertiary-container: ;
  --md-sys-color-on-tertiary-container: ;

  --md-sys-color-error: #;
  --md-sys-color-on-error: ;
  --md-sys-color-error-container: ;
  --md-sys-color-on-error-container: ;

  --md-sys-color-background: #faf8ff; /* surface */
  --md-sys-color-on-background: #1a1b20; /* onsurface */

  --md-sys-color-surface: ;
  --md-sys-color-on-surface: ;

  --md-sys-color-surface-variant: ;
  --md-sys-color-on-surface-variant: ;

  --md-sys-color-outline: ;
  --md-sys-color-outline-variant: ;

  --md-sys-color-shadow: ;
  --md-sys-color-scrim: ;

  --md-sys-color-inverse-surface: ;
  --md-sys-color-inverse-on-surface: ;
  --md-sys-color-inverse-primary: ;

  --md-sys-color-primary-fixed: rgb(217 226 255);
  --md-sys-color-on-primary-fixed: rgb(0 25 69);
  --md-sys-color-primary-fixed-dim: rgb(176 198 255);
  --md-sys-color-on-primary-fixed-variant: rgb(46 69 120);

  --md-sys-color-secondary-fixed: rgb(220 226 249);
  --md-sys-color-on-secondary-fixed: rgb(20 27 44);
  --md-sys-color-secondary-fixed-dim: rgb(192 198 220);
  --md-sys-color-on-secondary-fixed-variant: rgb(64 70 89);

  --md-sys-color-tertiary-fixed: rgb(177 241 193);
  --md-sys-color-on-tertiary-fixed: rgb(0 33 14);
  --md-sys-color-tertiary-fixed-dim: rgb(150 213 166);
  --md-sys-color-on-tertiary-fixed-variant: rgb(18 81 46);

  --md-sys-color-surface-dim: rgb(218 217 224);
  --md-sys-color-surface-bright: rgb(250 248 255);

  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: ;
  --md-sys-color-surface-container: rgb(238 237 244);
  --md-sys-color-surface-container-high: ;
  --md-sys-color-surface-container-highest: ;
}