
.o_view_nocontent {
    .o_nocontent_help {
        .o_view_nocontent_smiling_face:before {
            background: transparent url(/web_iantirta/static/src/img/smiling_face.png) no-repeat center;
            background-size: contain;
            width: 240px;
            height: 280px;
        }
    }
}
