.o_form_view {
    .oe_title {
        h1, h2, h3, h4, h5 {
            min-height: unset;
            margin-bottom: 0;
            line-height: inherit;
            font-size: inherit;
        }
    }
}
