// Google Material 3 Sigil Theme

$m3-primary: #475d91 !default;
$m3-primary-container: #d9e2ff !default;
$m3-onprimary: #ffffff !default;
$m3-onprimary-container: #2e4578 !default;

$m3-tertiary: #2e6a44 !default;
$m3-tertiary-container: #b1f1c1 !default;
$m3-ontertiary: #ffffff !default;
$m3-ontertiary-container: #12512e !default;

$m3-surface: #faf8ff !default;
$m3-surface-container: #eeedf4 !default;
$m3-surface-container-lowest: #ffffff !default;
$m3-onsurface: #1a1b20 !default;

$m3-outline: #757780 !default;
$m3-outline-var: #c5c6d0 !default;
