// $o-main-text-color: $o-gray-100 !default;

$o-community-color: rgb(71, 93, 145) !default;
$o-enterprise-color: rgb(71, 93, 145) !default;
$o-enterprise-action-color: rgb(46, 106, 68) !default;

$o-brand-sigil: $o-community-color !default;
$o-brand-primary: $o-community-color !default;

$info: #7eb8ff;
$success: #7dffbc;
$warning: #ffe57e;
$danger: #ff7e7e;

$tooltip-border-radius: 8px !default;
$tooltip-padding-y: 14px !default;
$tooltip-padding-x: 16px !default;
$tooltip-bg: rgba(17, 17, 17, 0.8);

$o-opacity-muted: .76 !default;

$o-main-text-color: $m3-onsurface !default;
$o-main-color-muted: rgba($m3-onsurface-var, $o-opacity-muted) !default;

$o-view-background-color: $m3-surface-container-lowest !default;
$o-shadow-color: $m3-shadow !default;

// o-inputs
$o-input-padding-y: 0px !default;
$o-input-padding-x: 12px !default;

$o-input-bg: $m3-surface !default;
//$o-input-invalid-bg: mix($o-danger, $o-input-bg, 10%) !default;
$o-input-border-required: $m3-outline-var !default;


$o-border-radius: o-to-rem(11px) !default;
$o-border-radius-sm: o-to-rem(9px) !default;
$o-border-radius-lg: o-to-rem(15px) !default;