// $o-main-text-color: $o-gray-100 !default;

$o-enterprise-color: #E95420 !default;
$o-enterprise-action-color: #E8291C !default;

$info: #7eb8ff;
$success: #7dffbc;
$warning: #ffe57e;
$danger: #ff7e7e;

$tooltip-border-radius: 8px !default;
$tooltip-padding-y: 14px !default;
$tooltip-padding-x: 16px !default;
$tooltip-bg: rgba(17, 17, 17, 0.8);